.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bf20a5;
  margin: 1em;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}
